
<form action='/links' method='POST'>
Title: <input type='text' name='title'>
URL: <input type='text' name='URL'>
Tag: <input type='text' name='tag'>
<input type='submit' name='Create Link' value='Create Link'>
</form>
